:root {
    --strongColor: #001f3f;
    --secondaryColor: #43b7ff;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --greyColor: #5e5e5e;
    --lightGreyColor: #f7f7f7;
    --primaryFont: "Oswald", sans-serif;
    --secondaryFont: "Arial", sans-serif;
    --smallTitleFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
}

@font-face {
    font-family: "Oswald";
    src: url("Fuentes/Oswald/Oswald-VariableFont_wght.ttf") format(truetype);
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    all: unset;
}

button {
    all: unset;
}

img {
    width: 100%;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    font-family: var(--headerFontSize);
    font-size: var(--headerFontSize);
    color: var(--strongColor);
}

body {
    font-family: var(--secondaryFont);
    font-size: var(--bodyFontSize);
    color: var(--greyColor);
    background-color: var(--strongColor);
}

.common-padding {
    max-width: 90rem;
    padding: 0 4%;
}

h1, h2, h3, h4, .small-title {
    font-family: var(--primaryFont);
    text-transform: uppercase;
    margin: 1rem auto;
}

h1 {
    font-size: 2rem;
    line-height: 2.75rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.small-title {
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.25rem;
    line-height: 1.5rem;
    color: var(--greyColor);
}

.small-title + h2, 
.small-title + h3 {
    margin-top: 0rem;
}

.alineado-izquierda {
    text-align: left;
}

.alineado-derecha {
    text-align: right;
}

section {
    padding: 4rem 0;
}

p {
    margin: 1rem 0;
    line-height: 1.5rem;
}

/* */

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10000;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    font-family: var(--headerFontSize);
    font-size: var(--headerFontSize);
    color: var(--strongColor);
    align-content: center;
}

header::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 0vh;
    background-color: #00000099;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    top: 0;
    right: 0;
    z-index: -11;
    transform: height 0.3s, opacity 0.3s;
    transition: opacity 0.3s ease-in-out;
}

header.active::before {
    height: 150vh;
    opacity: 1;
}

#header-padding {
    width: 100%;
    box-shadow: 0 0 16px var(--blackColor);
    margin: 1rem 0.5rem;
}

.header-div-top {
    width: 100%;
    margin: 0;
    padding: clamp(0.75rem, 2vw, 1.5rem);
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    align-items: center;
    height: auto;
    line-height: 0;
    background-color: var(--whiteColor);
    border-radius: 8px;
}

.header-div-logo-container {
    max-width: 50%;
    margin: 0;
}

.header-div-logo-container img {
    width: 100%;
    border-radius: 0;
}

#hamburguer-menu-icon {
    max-width: 20%;
    min-width: 42px;
    display: block;
    cursor: pointer;
    margin: 0;
}

#hamburguer-menu-icon.active {
    cursor: pointer;
}

.bar {
    display: block;
    max-width: 8vw;
    height: 3px;
    margin: 5px auto;
    background-color: var(--strongColor);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburguer-menu-icon.active .bar:nth-child(1) {
    opacity: 0;
}

#hamburguer-menu-icon.active .bar:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
}

#hamburguer-menu-icon.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

nav {
    font-size: 1.125rem;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--whiteColor);
    top: 0vh;
    left: 0;
    gap: 0;
    z-index: -1;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

nav.active {
    transform: translateY(10%);
    transition-delay: .2s;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 12vh 0;
}

nav ul li {
    font-family: var(--primaryFont);
    font-size: 1.25rem;
    color: var(--strongColor);
    list-style-type: none;
    cursor: pointer;
}

.fondo-blanco {
    background-color: var(--whiteColor);
}

.fondo-blanco h1, .fondo-blanco h2, 
.fondo-blanco h3 {
    color: var(--blackColor);
}

.fondo-oscuro {
    color: var(--whiteColor);
    background-color: var(--strongColor);
}

.fondo-oscuro h2, .fondo-oscuro h3 {
    color: var(--whiteColor);
}

#main-index {
    padding-top: 3rem;
}

#section-statement {
    text-align: center;
    color: var(--whiteColor);
    background-color: var(--strongColor);
}

#section-statement .common-padding {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 4% 4rem;
}

#section-statement .small-title {
    color: var(--whiteColor);
}

#section-statement h1 {
    font-size: 2.375rem;
    line-height: 3rem;
    margin: 0.75rem 0 1rem;
}

#section-statement p {
    color: var(--whiteColor);
}

.div-double-button-container {
    display: flex;
    justify-content: center;
}

#section-statement .div-double-button-container {
    padding-top: 2rem;
}

.call-to-action, .info-button {
    all: unset;
    font-family: var(--primaryFont);
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    border-radius: 32px;
    text-transform: uppercase;
    cursor: pointer;
}

.call-to-action {
    padding: 0 2rem;
    color: var(--strongColor);
    background-color: var(--secondaryColor);
}

.info-button {
    padding: 0 1.5rem;
}

#section-que-hacemos, #section-que-ofrecemos, 
#section-portafolio {
    color: var(--blackColor);
    background-color: var(--whiteColor);
}

#section-contacto {
    color: var(--whiteColor);
}

/* ====================== */

.page-top-div {
    margin: 0 auto;
    padding: 10rem 0 3rem;
    text-align: center;
    color: var(--whiteColor);
    background-color: var(--strongColor);
}

.page-top-div h1 {
    margin: 0 auto;
    font-size: 2.5rem;
}

#section-soluciones-soluciones section {
    padding: 0.5rem 0;
}

#section-soluciones-soluciones ul {
    list-style-type: inherit;
    padding: 0 1rem;
}

#section-soluciones-soluciones ul li {
    margin: 0.5rem 0;
}

#ul-contacto-contacto {
    padding: 1.25rem 0;
}

.medio-de-contacto {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

#ul-contacto-contacto .medio-de-contacto p {
    font-size: 1.125rem;
    font-weight: 900;
    margin: 1rem 0;
    color: var(--blackColor);
}

.medio-de-contacto img {
    max-width: 1.5rem;
    height: auto;
    margin: 0;
}

#form-contacto form {
    margin: 1rem 0;
}

.form-div-campo {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-div-campo label {
    font-size: var(--bodyFontSize);
    margin-bottom: 0.5rem;
    text-align: left;
}

.form-div-campo input {
    font-family: var(--bodyFontSize);
    font-size: var(--bodyFontSize);
    width: 100%;
    height: 36px;
    margin-top: 0.5rem;
}

.form-div-campo textarea {
    font-family: var(--bodyFontSize);
    font-size: var(--bodyFontSize);
    width: 100%;
    height: 24vh;
    margin-top: 0.5rem;
}

#div-form-contacto-boton {
    text-align: center;
    margin: 2rem;
}

footer {
    color: white;
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    cursor: pointer;
    color: var(--secondaryColor);
}

#footer-div-top-logo {
    margin: 0;
    padding: 1rem 0;
    max-width: 200px;
    height: auto;
    align-self: left;
    border-radius: 0;
}

#footer-div-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: left;
    padding: 1rem 0;
}

.footer-section {
    text-align: left;
    margin: 0;
}

footer h4 {
    font-size: 1.375rem;
    line-height: 2rem;
}

footer ul li {
    margin: 0;
    padding: 0.5rem 0;
}

footer svg {
    margin: 0;
    color: white;
    fill: white;
}

footer .medio-de-contacto p {
    margin: 0;
    color: white;
}

footer hr {
    color: initial;
}

#footer-p-copyright {
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--whiteColor);
    max-width: none;
    text-align: center;
    padding: 1.5rem 0 0;
}